@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Passion+One:wght@400;700;900&family=Permanent+Marker&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{

    --fonte01: Verdana, 'Geneva', Tahoma, sans-serif;
    --fonte02: 'Rubik', sans-serif; 
    --fonte03: 'Passion One', sans-serif;
    --fonte04: Arial, Helvetica, sans-serif;
    --fonte05: 'Sriracha', sans-serif;

}

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    height: 200px;

}
header > h1{
    color: white;
    text-align: center;
    font-size: 8vw;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: var(--fonte04);
}
header > p{
    color: white;
    text-align: center;
    font-size: 1.3em;
}

section{
    
}

p.autor{
    padding-top: 0px;
    padding-left: 0px;
    font-family: var(--fonte04);

}

p{
    padding-top: 40px;
    padding-left: 20px;
    font-family: var(--fonte05);
    font-size: 3vw;

}

.back{
    background-color: black;
    display: inline-block;
    padding: 10px 20px;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 60px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1.1em;
    font-family: var(--fonte04);
    
}

.back:hover{
    text-decoration: underline;
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 1.3em;
    font-family: var(--fonte04);
    margin-top: 100px;
    text-align: center;
}

footer > a{
    color: white;
    text-decoration: none;
}

footer > a:hover{
    text-decoration: underline;
}