@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Passion+One:wght@400;700;900&family=Permanent+Marker&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{

    --fonte01: Verdana, 'Geneva', Tahoma, sans-serif;
    --fonte02: 'Rubik', sans-serif; 
    --fonte03: 'Passion One', sans-serif;
    --fonte04: Arial, Helvetica, sans-serif;
    --fonte05: 'Sriracha', sans-serif;

}

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    color: white;
    height: 200px;
}

h1{
    font-size: 5em;
    text-align: center;
    padding-top: 50px;
}

body{
    background-color: rgb(182, 221, 255);
}

section{
    width: 70%;
    height: 250px;
    border: 2px solid rgb(0, 0, 0);
    margin: auto;
    transition-duration: 1s;
    border-radius: 20px;
    margin-top: 80px;


}

section > p{
    display: inline-block;
    line-height: 30px;
    padding-top: 160px;
    font-size: 2em;
    color: white;
    font-family: var(--fonte03);
    padding-left: 10px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

section a{
    color: white;
    text-decoration: none;
}

section a:hover{
    text-decoration: underline;
    text-decoration-color: white;

}

section a:active{
    text-decoration-color: black;
}


.imagens{
    background-size: cover;
    background-position: center;
}

#img01{
    background-image: url(imagens/retalhos/newretalhos.webp);
    
}

#img01:hover{
    background-image: url(imagens/retalhos/oldretalhos.jpg);
 
}

#img02{
    background-image: url(imagens/preguiça/oboi.webp);
}

#img02:hover{
    background-image: url(imagens/preguiça/apreguiça.jpg);
}

#img03{
    background-image: url(imagens/verdade/seca.jpg);
}

#img03:hover{
    background-image: url(imagens/verdade/esperança.jpg);
}

#img04{
    background-image: url(imagens/juizofinal/céu.webp);
}

#img04:hover{
    background-image: url(imagens/juizofinal/fogo.jpg);
}

#img05{
    background-image: url(imagens/sapoeavaca/vaca.jpg);
}

#img05:hover{
    background-image: url(imagens/sapoeavaca/sapo.jpg);
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 1.3em;
    font-family: var(--fonte04);
    margin-top: 100px;
    text-align: center;
}

footer > a{
    color: white;
    text-decoration: none;
}

footer > a:hover{
    text-decoration: underline;
}